body {
    font-family: 'Poppins', sans-serif;
}

li:hover {
    background-color: lightskyblue;
}

a {
    color: black;
}
a:hover {
    background-color: lightslategray;        
    border-radius: 10%;
}
